@charset "utf-8";

body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00736e, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; */
}

h2 {
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #00736e, 0 0 15px #0073e6,
    0 0 15px #0073e6;
  font-family: "Merriweather", serif;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  background-color: #6f6d6d;
  color: rgb(233, 237, 240);
}

.search-container {
  display: flex;
  margin-bottom: 60px;
}

.search-container input[type="text"] {
  flex: 1;
}

::placeholder {
  color: white;
}

.search-container button {
  padding: 10px 20px;
  background-color: #38e9eca7;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.autocomplete-results {
  margin-top: 10px;
}

.movie-details {
  margin-top: 20px;
}

.movie-details img {
  max-width: 200px;
  float: left;
  margin-right: 20px;
}
